body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffcccb;
}

h1 {
    font-size: 24px;
    color: #ff1e56;
}

img {
    width: 300px;
    height: auto;
    margin: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#yesButton {
    background-color: #4CAF50;
    color: white;
}

#noButton {
    background-color: #f44336;
    color: white;
}
